<h1>Map page</h1>
{{#leaflet-map lat=lat lng=lng zoom=zoom class="leaflet-container"}}
	{{tile-layer url="https://a.tiles.mapbox.com/v4/ceciliaw.pf0loca9/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY2VjaWxpYXciLCJhIjoiY2lseGE0em5jMDBiOHZtbTVoNDlhZXl5MiJ9.SXB3GVoZTyB7jF7t0zsyMQ"}}
{{/leaflet-map}}